.error-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: orange;
}

.error-container img{
    margin-bottom: 1rem ;
}

.oops {
    font-size: 1.75rem;
}
